Source: vdr-plugin-restfulapi
Section: video
Priority: extra
Maintainer: Tobias Grimm <etobi@debian.org>
Build-Depends: debhelper (>= 9), vdr-dev (>= 2.1.10), pkg-config, gettext, libcxxtools-dev
Standards-Version: 3.9.6
Homepage: https://github.com/yavdr/vdr-plugin-restfulapi

Package: vdr-plugin-restfulapi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${vdr:Depends}
Description: VDR restfulapi
 VDR restfulapi Plugin

Package: vdr-plugin-restfulapi-dbg
Architecture: any
Section: debug
Priority: extra
Depends: vdr-plugin-restfulapi (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for vdr-plugin-restfulapi
 .
 This package contains only the debugging symbols for vdr-plugin-restfulapi

